@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500;600&display=swap");

.header_section {
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
    box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
    transition: all .8s linear;
    padding: 4%;
    background-color: grey;
    margin-bottom: 2%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.header_h2 {
    font-size: 8em;
    text-align: center;
    margin: 0;
    padding-top: 1%;
    font-family: auto;
}

.home_logo1 {
    width: 25em;
    float: left;
    padding-left: 3%;
}

.home_logo2 {
    width: 25em;
    float: right;
    padding-right: 3%;
}

